


nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position:sticky;
  /* min-height: 60vh;  */
  min-width:14vh;
  color:white;
  /* z-index: 100;  */
  position: fixed;
  width:64%;
  height:50%
  
} 
 .new__linky
{
  min-height: 60vh; 
  display: flex;
  flex-direction: row;
  min-width: 100vh;
}
.AID__item_message{
  font-size: small;
}


h3{font-family: 'Courier New',monospace;
  font-size: xx-large;
  text-shadow: 2px 2px #585757;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 5vh;

}

li{
  margin-bottom:10px;
  min-width:100%;
  word-break: break-all;
  min-width:24vh;
  min-height: 2.8vh;
  font-family: 'Courier New',monospace;
  font-size: x-large;
  text-shadow: 2px 2px #585757;
  font-weight: bold;
  list-style-type: none;



} 

.MA__item__delete{
  font-size: small;
  justify-content: center;
  display: flex;
}
h1{text-align: center;
  font-size: xx-large;
  font-family: 'Courier New',monospace;
  text-shadow: 2px 2px #8c8989;
  font-weight: bolder;

}
ul{
  align-items: center;
  min-width: 32vh
}

h2{
  text-align: center;
  font-size: x-large;
  font-family: 'Courier New',monospace;
  text-shadow: 2px 2px #8c8989;
  font-weight: bolder;
  min-height: 18vh;
  position: sticky;
}
.new__MA__section{
font-family: 'Courier New',monospace;
font-size: large;
text-shadow: 2px 2px #8c8989;
font-weight: bold;
display:inline;
/* flex-direction: column; */
font-size: larger;
}
.newMA__form{
text-shadow: 2px 2px #8c8989;
font-weight: bold;
font-size: larger;
min-width: 38vh;
min-height:25vh;
display: inline;
align-content: center;
/* flex-direction:column */

}
.newMA__buttons{

  font-family: 'Courier New',monospace;
  font-size: large;
  text-shadow: 2px 2px #cac3c3;
  text-shadow: 2px 2px #585757;
  font-weight: bold;
}

.displaying_Aid{
  font-size:small;
  display: grid;
  grid-template-columns: 20% 20% 30% 35%;
  flex-direction: column;
  border: 1.5px solid rgb(206, 7, 251); 
  margin: .5rem;
  max-height: 28vh;
  grid-gap: 18px;
  max-width: 116vh;
  border-radius: 10px;
  
}
section{
  min-height: 13vh;
  font-size: small;
}
.list__container{
  min-height: 10vh;
}

input{
  background-color: #e5d2e3;
  display:flex;
  flex-direction: column;
  align-content: center;

}
.req {
  color: red;
  font-size: small;
  
}


body{
  background: #fff;
}

/* .title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
} */

body {
  animation: scroll 300s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  height: 60vh;
  min-width: 36vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  body {
    animation: scroll 400s linear infinite;
  }
}
.nav__links
{
  color:white;
  min-height: 36vh;
  min-width: 160vh;

} 

h4{
  text-align: center;
  background-color: transparent;
  font-size: xx-large;
  font-family: 'Courier New',monospace;
  text-shadow: 2px 2px #8c8989;
  font-weight: bolder;
  max-height: 1vh;
  position: sticky;
}
.flower__png{
  background-image:url(file:///Users/samiyaismail/Downloads/PNG%20flower.svg);
  background-size: 136px;
  width: 1084px;
  height: 134px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* position:fixed; */
  /* min-height: 10vh;  */
  
  /* min-width:24vh; */ 
  color:white;
  
}
.MA__elements{
overflow: scroll;
display:flex;
flex-direction: column;
min-height: 6vh;
min-width: 20vh;
border-radius: 10px;
border-style: double;
border: 1.5px solid rgb(251, 7, 194); 
margin: .5rem;
font-style: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:white;
list-style-type: none;
word-break: break-all;
justify-content: space-around;

}
form{
  display: inline;
  justify-content: space-around;
  list-style-type: none;
  word-break: break-all;
  
}
/* display=none changing the css in the app */

.mutualAidList__css{
  font-size: medium;
  /* display:flex;
  flex-direction: row; */
  list-style-type: none;
  word-break: break-all;
  justify-content: space-around;
  min-width:14vh;
  max-height: 3vh;
  border: 2px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* grid-template-rows:  60% 28% 12% ; */
  grid-gap: 18px;
  /* width: 100%; */
  /* height: 100vh; */
  top: 0;
  /* display: inline-block; */
  padding: 15px;
  
}
/* /* .MA__NAME{
  display: flex;
  justify-content: space-between;
  
}
.MA__EMAIL{
  display: flex;
  justify-content: space-between;
}
.MA__CATEGORY{
  display: flex;
  justify-content: space-between;
} */
.MA__WEB{
  display: flex;
  justify-content: space-between;
} 
.Boxes__aid{
  display:inline-flex;
  max-height:10vh;
  align-content: center;
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
}
.land__ACK{
  font-family: 'Courier New',monospace;
  font-size: large;
  text-decoration-line: italic;
  max-width: 1000px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-style: italic;
  max-height: 50px;
  left:80px
}
.header__ACK{
  font-family: 'Courier New',monospace;
  font-size: large;
  align-items: center;
  text-shadow: 2px 2px #8c8989;
  font-weight: bolder;
  color: whitesmoke;

}
.footer__ACK{
  text-align: center;
  font-size: large;
  font-family: 'Courier New',monospace;
  text-shadow: 2px 2px #8c8989;
  font-weight: bolder;
  max-height: 7vh;
  margin-top: 10px;
}
a{
  color: rgb(253, 253, 253);
  scroll-behavior: auto;
  top: 0px;
  word-break: break-all;
  justify-content: space-between;
  max-height: 8vh;
  

}
.list__container{
  text-align: center;
}
.delete__butt,button{
  position: relative;
  background-color: rgb(251, 7, 194);
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 7px;
  width: 180px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
  

.delete__butt,button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.bronx__Css{
  width: 130vh;
  height: 50vh;
  align-content: center;
  position: fixed;
  padding-bottom: 3vh;
  padding-left: 94px;
  left:98px;
}
.delete__butt,button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.aid__toggle{
  font-size: large;
  display: flex;
  justify-content: center;
  cursor:grab;
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
}
.req__css{
  font-size: smaller;

}
.name__proppy{
  font-size: large;
}

.one__elements{
  font-size: large;
}
.cat__proppy{
font-size: large;
}
.email__proppy{
  font-size: large;
}
.web__proppy{
  font-size: large;
}
p{
  display: flex;
  justify-content: center;
  min-height: 0vh;
}
/* html{
  width:180%;
  
} */
/* using flexbox to postion things statically NO OLD HACKING butt ummm flexbox solution fixed nav layout that shows what the values */