
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color:white;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:white

}
h3{font-family: 'Courier New',monospace;
  font-size: x-large;
  text-shadow: 2px 2px #585757;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 34vh;

}

li{
  margin-bottom:10px;
  min-width:100%;
  word-break: break-all;
  min-width:24vh;
  min-height: 4vh;
  font-family: 'Courier New',monospace;
  font-size: x-large;
  text-shadow: 2px 2px #585757;
  font-weight: bold;

}
h1{text-align: center;
  font-size: xx-large;
  font-family: 'Courier New',monospace;
  text-shadow: 2px 2px #8c8989;
  font-weight: bolder;

}

h2{
  text-align: center;
  font-size: xx-large;
  font-family: 'Courier New',monospace;
  text-shadow: 2px 2px #8c8989;
  font-weight: bolder;
  min-height: 18vh;
}
.new__MA__section{
font-family: 'Courier New',monospace;
font-size: large;
text-shadow: 2px 2px #8c8989;
font-weight: bold;
display:flex;
flex-direction: column;
font-size: larger;
}
.newMA__form{
text-shadow: 2px 2px #8c8989;
font-weight: bold;
font-size: larger;
min-width: 24vh;
min-height:10vh
}
.newMA__buttons{

  font-family: 'Courier New',monospace;
  font-size: large;
  text-shadow: 2px 2px #cac3c3;
  text-shadow: 2px 2px #585757;
  font-weight: bold;
}


input{
  background-color: #e5d2e3;
  display:flex;
flex-direction: column;
}

body{
  background: #fff;
}

/* .title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
} */

body {
  animation: scroll 300s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  body {
    animation: scroll 400s linear infinite;
  }
}
.nav__links
{
  color:white;
  min-height: 18vh;

} 

h4{
  text-align: center;
  font-size: xx-large;
  font-family: 'Courier New',monospace;
  text-shadow: 2px 2px #8c8989;
  font-weight: bolder;
  max-height: 80vh;
}
.MA__elements{
overflow: scroll;
display:flex;
flex-direction: column;
max-height: 40vh;
min-width: 12rem;
border: 1.5px solid rgb(251, 7, 194); 
margin: .5rem;
font-style: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:white;

}
form{
  display: flex;
  justify-content: space-around;
}
/* display=none changing the css in the app */
.mutualAidList__css{
  font-size: x-small;
  display:flex;
  flex-direction: row;
  
}